body {
  background-color: #e1e1e152;
  font-family: 'IBM Plex Sans', sans-serif;
}

.jp-seek-bar {
  background-color: #00000047;
  height: 10px;
  border-radius: 5px;

}

.jp-controls {
  background-color: #8080803d;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 9px;
  margin-bottom: 4px;
}

.jp-sleek .jp-gui .jp-controls .jp-progress .jp-seek-bar .jp-play-bar {
  background-color: #393b3e70;
  height: 10px;
  position: relative;
  width: 100%;
  border-radius: 5px;

}

.jp-buffer-bar {
  display: none;
  } 

.bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.controls {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 1rem 4rem 0 0;
}
.skip {
  border-radius: 2rem;
  padding: 0.5rem;
}

.jp-play {
  border-radius: 3rem;
  padding: 1rem;
}

.jp-progress {
  width: 500px;
  min-width: 180px;
  max-width: 500px;
  font-size: 20px;
  position: relative;
}

.body-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.details {
  width: 50%;
  padding: 1rem;
}

.music-list {
  padding: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: #655f5f4a;
  border-radius: 5px;
  margin: 3px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4rem;
  border-bottom-style: solid;
}

.details .header {
 padding-bottom: 20px;
}
.main-header {
  border-bottom-style: solid;
  border-color: #0080004a;
}

.sort {
  display: flex;
  align-items: center;
}

.sort button {
  margin-left: 8px;
}

.song {
  margin: -1rem -0.5rem;
  padding: 0 0.5rem;
}

.dark-song {
  background-color: #e6e5e5;
}

.song:hover {
  background-color: #8080809c;
}

