body {
  background-color: #e1e1e152;
  font-family: 'IBM Plex Sans', sans-serif;
}

.jp-seek-bar {
  background-color: #00000047;
  height: 0.7rem;
  border-radius: 0.5rem;
}

.jp-controls {
  background-color: #8080803d;
  padding-bottom: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.3rem;
}

.jp-play-bar {
  background-color: #393b3e70;
  height: 0.7rem;
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
}

.jp-buffer-bar {
  display: none;
  } 

.bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.controls {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 3rem 4rem 0 0;
}
.skip {
  border-radius: 2rem;
  padding: 0.5rem;
}

.jp-play {
  border-radius: 3rem;
  padding: 1rem;
}

.jp-progress {
  width: 17rem;
  /* min-width: 17rem;
  max-width: 17rem; */
  font-size: 1.2rem;
  position: relative;
}

.body-container {
  display: flex;
  flex-direction: column;
}

.body {
  padding: 1rem;
  border-width: 0.17rem;
  border-style: solid;
  border-color: #655f5f4a;
  border-radius: 0.3rem;
  margin: 0.2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4rem;
  border-bottom-style: solid;
}

.details .header {
 padding-bottom: 1.3rem;
}
.main-header {
  border-bottom-style: solid;
  border-color: #0080004a;
}

.sort {
  display: flex;
  align-items: center;
}

.sort button {
  margin-left: 0.7rem;
}

.song {
  margin: -1rem -0.5rem;
  padding: 0 0.5rem;
}

a {
  color: #8db588;
}

.dark-song {
  background-color: #e6e5e5;
}

.song:hover {
  background-color: #8080809c;
}

@media screen and (min-width: 525px){
  .jp-progress {
    width: 31rem;
    /* min-width: 18rem;
    max-width: 31rem; */
}

@media screen and (min-width: 750px){
  .jp-controls {
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
  }

  .body-container {
    justify-content: space-between;
    align-content: center;
    flex-direction: row
  }

  .details {
    width: 50%;
    padding: 1rem;
  }
}